{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <div class="card my-5 mx-3">
                <h2 class="mt-3">Send a Newsletter TEST</h2>
                <h4 class="mt-1">Complete the below form to send a Newsletter to all Newsletter subscribers</h4>
                <hr>
                <form class="mx-3" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-2 mb-5" >
                    <input class="btn buttons rounded-2" type="submit" value="subscribe">
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}