{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="all-products-header col-8 text-center mt-5 mb-3">
            <h2>Send a Newsletter</h2>
            <h5 class="mb-2">Complete the below form to send a Newsletter to subscribers</h5>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <div class="card p-5 mb-5">
                <form class="mx-3" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="my-4" >
                    <input class="btn buttons rounded-4" type="submit" value="Send Now">
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}