{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-5 mb-3">
            <h3>Unsubscribe from our Newsletter</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <div class="card table-card p-3 mb-5">
                <div class="card-body w-100">
                    <form method="POST">
                        <p class="m-3">Simply enter your email address below and click Unsubscribe to stop receiving our Newsletter.</p>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-2 mb-5" >
                        <input class="btn buttons rounded-2" type="submit" value="unsubscribe">
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}