{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 text-center mt-5 mb-3">
            <h2>Your Shopping Cart</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
            <div class="card table-card p-3 mb-5">
                <div class="card-body p-0">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Product Details</th>
                                <th class="d-none d-sm-table-cell" scope="col"></th>
                                <th class="d-none d-sm-table-cell" scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th class="d-none d-sm-table-cell" scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in cart_items %}
                        <tbody>
                            <tr scope="row">
                                <td class="py-2 d-none d-sm-table-cell">
                                    <h5 class="my-5 px-0">{{ item.product.name }}</h5>
                                    <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="m-auto small">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-2 d-sm-none">
                                    <h5 class="my-5 px-0">{{ item.product.name }}</h5>
                                    <p class="my-5"><strong>Price: {{ item.product.price }}</strong></p>
                                    <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="m-auto small">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="d-none d-sm-table-cell p-3 w-25">
                                    {% if item.product.image %}
                                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-2 d-none d-sm-table-cell">
                                    <p class="my-5"><strong>{{ item.product.price }}</strong></p>
                                </td>
                                <td class="py-3 w-25 d-sm-none">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="mt-4 input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.has_sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link btn buttons btn-sm mt-2 edit-product-button"><small>Update</small></a>
                                    <a class="remove-item btn buttons btn-sm mt-2 edit-product-button" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    <p class="my-5"><strong>Subtotal: {{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                </td>
                                <td class="py-3 w-25 d-none d-sm-table-cell">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="mt-4 input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.has_sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link btn buttons btn-sm mt-2 edit-product-button"><small>Update</small></a>
                                    <a class="remove-item btn buttons btn-sm mt-2 edit-product-button" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </td>
                                <td class="py-2 d-none d-sm-table-cell">
                                    <p class="my-5"><strong>{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Your Cart Total: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Total Price: €{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        Get free delivery on your order by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'checkout' %}" class="btn buttons btn-lg">
                                    <span>Checkout</span>
                                    <span class="icon">
                                    <i class="fas fa-arrow-circle-right"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}