{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h1>Shopping Cart</h1> 
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                {% if cart_items %}
                <div class="table-responsive rounded"></div>
                {% else %}
                <h3>Your Cart is currently empty.</h3>
                <a href="{% url 'products' %}" class="btn buttons rounded-2 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span><strong>Continue Shopping</strong></span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}