{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="home-top-hero-div col-12 text-center">
                <h1 class="display-2 mt-5"><i>Everything</i> your Lawn</h1>
                <h3 class="display-3 mb-5">could Wish for!</h3>
                <div class="mt-5 mb-3">
                    <h4>
                        <a href="{% url 'products' %}" class="buttons btn btn-lg rounded-4 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="home-welcome-div col-8 text-center my-3">
                <div class="card rounded-4 my-3">
                    <h2 class="mt-4">Welcome to LawnGenie</h2>
                    <i class="fas fa-seedling fa-lg my-2"></i>
                    <h4 class="mt-1 mb-2">Where Lawn wishes come true!</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta expedita recusandae architecto quo! Velit beatae provident culpa sit dicta reprehenderit rerum error. Exercitationem modi alias illum illo itaque? Eligendi, vitae!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-10 text-center">
                <h2 class="mt-4 mb-2">New Products</h2>
                <div class="row justify-content-center">
                    <div class="card col-2 p-2 mb-3 mx-3">
                        <div class="p-1">
                            <a href="">
                                <img src="" class="card-img-top" alt="">
                            </a>
                            <div class="card-body text-center py-0">
                                <h4 class="card-title"><strong>Brand</strong></h4>
                                <h6 class="card-title">Name</h6>
                            </div>
                            <div class="card-footer bg-white text-center pt-0">
                                <h4 class="pt-0">
                                    <strong>€Price</strong>
                                </h4>
                                <a href="" class="btn buttons my-2">More Info</a>
                                <div>
                                    <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: / 5</small>
                                    <small class="pt-2">No Rating</small>
                                </div>
                                <div class="mb-4">
                                    <a class="text-muted" href="">
                                    <small class="pt-2"><i class="fas fa-tags mr-2"></i> Category:</small>
                                    </a>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="card col-2 p-2 mb-3">
                        <div class="p-1">
                            <a href="">
                                <img src="" class="card-img-top" alt="">
                            </a>
                            <div class="card-body text-center py-0">
                                <h4 class="card-title"><strong>Brand</strong></h4>
                                <h6 class="card-title">Name</h6>
                            </div>
                            <div class="card-footer bg-white text-center pt-0">
                                <h4 class="pt-0">
                                    <strong>€Price</strong>
                                </h4>
                                <a href="" class="btn buttons my-2">More Info</a>
                                <div>
                                    <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: / 5</small>
                                    <small class="pt-2">No Rating</small>
                                </div>
                                <div class="mb-4">
                                    <a class="text-muted" href="">
                                    <small class="pt-2"><i class="fas fa-tags mr-2"></i> Category:</small>
                                    </a>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="card col-2 p-2 mb-3 ms-3">
                        <div class="p-1">
                            <a href="">
                                <img src="" class="card-img-top" alt="">
                            </a>
                            <div class="card-body text-center py-0">
                                <h4 class="card-title"><strong>Brand</strong></h4>
                                <h6 class="card-title">Name</h6>
                            </div>
                            <div class="card-footer bg-white text-center pt-0">
                                <h4 class="pt-0">
                                    <strong>€Price</strong>
                                </h4>
                                <a href="" class="btn buttons my-2">More Info</a>
                                <div>
                                    <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: / 5</small>
                                    <small class="pt-2">No Rating</small>
                                </div>
                                <div class="mb-4">
                                    <a class="text-muted" href="">
                                    <small class="pt-2"><i class="fas fa-tags mr-2"></i> Category:</small>
                                    </a>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="card col-2 p-2 mb-3 mx-3">
                        <div class="p-1">
                            <a href="">
                                <img src="" class="card-img-top" alt="">
                            </a>
                            <div class="card-body text-center py-0">
                                <h4 class="card-title"><strong>Brand</strong></h4>
                                <h6 class="card-title">Name</h6>
                            </div>
                            <div class="card-footer bg-white text-center pt-0">
                                <h4 class="pt-0">
                                    <strong>€Price</strong>
                                </h4>
                                <a href="" class="btn buttons my-2">More Info</a>
                                <div>
                                    <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: / 5</small>
                                    <small class="pt-2">No Rating</small>
                                </div>
                                <div class="mb-4">
                                    <a class="text-muted" href="">
                                    <small class="pt-2"><i class="fas fa-tags mr-2"></i> Category:</small>
                                    </a>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="home-email-subscribe-div col-8 text-center">
                <h3>Get Tips & Tricks in your Inbox</h3> 
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="home-promo-carousel col-12 text-center">
                <h3>PROMO CAROUSEL</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="home-best-sellers-div col-8 text-center">
                <h3>Best Sellers</h3> 
            </div>
        </div>
    </div>

{% endblock %}