{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Hero Image Div -->
    <div class="container-fluid">
        <div class="row">
            <div class="home-top-hero-div col-12 text-center mb-4">
                <h1 class="display-2 mt-5"><i>Everything</i> your Lawn</h1>
                <h3 class="display-3 mb-5">could Wish for!</h3>
                <div class="mt-5 mb-3">
                    <h4>
                        <a href="{% url 'products' %}" class="buttons btn btn-lg rounded-4 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
<!-- END of Hero Image Div -->

<!-- Promo Banner No. 1 -->
    <div class="container-fluid home-promo-banner-robot pt-4">
        <div class="row justify-content-center">
            <div class="col-10 rounded-4 text-center p-4">
                <h2 class="shadow"><strong>HUSQVARNA</strong></h>
                <h4>Automower 315X<h4> 
                <a href="{% url 'product_detail' 23 %}" class="mx-5 btn buttons my-2">More Info</a> 
                <div class="text-right">
                <h4>No Assembly Required!</h4>
                </div>   
            </div>
        </div>
    </div>
<!-- END of Promo Banner No. 1 -->

<!-- Best Sellers Card -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card new-arrivals-card col-10 rounded-4 text-center px-4 my-4">
                <h2 class="mt-4 mb-3">Best Sellers</h2>
                <div class="row justify-content-center pb-5">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                        <div class="card">
                            <div class="p-1">
                                <a href="{% url 'product_detail' 22 %}">
                                    <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                </a>
                                <div class="card-body text-center py-0">
                                    <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                    <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                </div>
                                <div class="card-footer bg-white text-center pt-0">
                                    <div>
                                        <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                    </div>
                                    <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                        <div class="card">
                            <div class="p-1">
                                <a href="{% url 'product_detail' 22 %}">
                                    <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                </a>
                                <div class="card-body text-center py-0">
                                    <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                    <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                </div>
                                <div class="card-footer bg-white text-center pt-0">
                                    <div>
                                        <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                    </div>
                                    <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                            <div class="card">
                                <div class="p-1">
                                    <a href="{% url 'product_detail' 22 %}">
                                        <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                    </a>
                                    <div class="card-body text-center py-0">
                                        <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                        <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                    </div>
                                    <div class="card-footer bg-white text-center pt-0">
                                        <div>
                                            <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                        </div>
                                        <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                            <div class="card">
                                <div class="p-1">
                                    <a href="{% url 'product_detail' 22 %}">
                                        <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                    </a>
                                    <div class="card-body text-center py-0">
                                        <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                        <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                    </div>
                                    <div class="card-footer bg-white text-center pt-0">
                                        <div>
                                            <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                        </div>
                                        <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END of Best Sellers Card -->

<!-- Promo Banner No. 2 -->
    <div class="container-fluid home-promo-banner-john-deere">
        <div class="row justify-content-center">
            <div class="col-10 rounded-4 text-center p-4 mt-4">
                <h2 class=""><strong>JOHN DEERE</strong></h>
                <h4>X590 Tractor LawnmowerX<h4> 
                <a href="{% url 'product_detail' 110 %}" class="mx-5 btn buttons my-2">More Info</a> 
                <div class="text-right">
                <h4>Multi-Terrain, Multi-Talented!</h4>
                </div>   
            </div>
        </div>
    </div>
<!-- END of Promo Banner No. 2 -->

<!-- Blog container  -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 text-center my-3">
                <div class="card home-welcome-card rounded-4 my-3 px-4">
                    <h2 class="mt-4 mb-2">Check out our Blog</h2>
                    <h4 class="mt-1">Learn from the Pro's!</h4>
                    <p class="pb-1">Read about the latest techniques and equipment in Lawn Care & Maintenance.</p>
                    <div>
                        <a href="{% url 'blog' %}" class="btn buttons mb-3">View Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END of Blog container  -->

<!-- New Arrivals container  -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card new-arrivals-card col-10 rounded-4 text-center px-4 my-4">
                <h2 class="mt-4 mb-3">New Arrivals</h2>
                <div class="row justify-content-center pb-5">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                        <div class="card">
                            <div class="p-1">
                                <a href="{% url 'product_detail' 22 %}">
                                    <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                </a>
                                <div class="card-body text-center py-0">
                                    <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                    <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                </div>
                                <div class="card-footer bg-white text-center pt-0">
                                    <div>
                                        <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                    </div>
                                    <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                        <div class="card">
                            <div class="p-1">
                                <a href="{% url 'product_detail' 22 %}">
                                    <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                </a>
                                <div class="card-body text-center py-0">
                                    <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                    <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                </div>
                                <div class="card-footer bg-white text-center pt-0">
                                    <div>
                                        <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                    </div>
                                    <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                            <div class="card">
                                <div class="p-1">
                                    <a href="{% url 'product_detail' 22 %}">
                                        <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                    </a>
                                    <div class="card-body text-center py-0">
                                        <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                        <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                    </div>
                                    <div class="card-footer bg-white text-center pt-0">
                                        <div>
                                            <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                        </div>
                                        <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3 text-center p-4">
                            <div class="card">
                                <div class="p-1">
                                    <a href="{% url 'product_detail' 22 %}">
                                        <img src="/media/022.jpg" class="card-img-top" alt="Husqvarna Automower 435x AWD Robotic Lawnmower">
                                    </a>
                                    <div class="card-body text-center py-0">
                                        <h4 class="card-title"><strong>Husqvarna</strong></h4>
                                        <h6 class="card-title">Automower 435x AWD Robotic Lawnmower</h6>
                                    </div>
                                    <div class="card-footer bg-white text-center pt-0">
                                        <div>
                                            <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: 5 / 5</small>
                                        </div>
                                        <a href="{% url 'product_detail' 22 %}" class="btn buttons my-2">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END of New Arrivals container  -->

<!-- Promo Banner No. 3  -->
    <div class="container-fluid home-promo-banner-supersoil">
        <div class="row justify-content-center">
            <div class="col-10 rounded-4 text-center px-4 mt-4">
                <div class="supersoil-banner-button">
                    <a href="{% url 'product_detail' 68 %}" class="mx-5 btn buttons my-2">More Info</a> 
                </div> 
            </div>
        </div>
    </div>
<!-- END of Promo Banner No. 3  -->

<!-- Newsletter container -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 text-center my-3">
                <div class="card home-welcome-card rounded-4 my-3 px-4">
                    <h2 class="mt-4">Sign-up for our Newsletters</h2>
                    <div>
                        <a href="{% url 'subscribe' %}" class="btn buttons my-2">More Info</a>
                    </div>
                    <h4 class="mt-1 mb-2">Get Exclusive Offers!</h4>
                    <p class="pb-2">Get Lawn car tips and tricks from the pro's, sent straight to your inbox.</p>
                </div>
            </div>
        </div>
    </div>
<!-- END of Newsletter container -->

{% endblock %}