{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="home-top-hero-div col-12 text-center">
                <h1 class="display-2 mt-5"><strong>Everything</strong> <small>your</small> <strong>Lawn</strong></h1>
                <h3 class="display-2 mb-5"><small>could</small> <strong>Wish</strong> <small>for</small>!</h3>
                <div class="mt-5 mb-3">
                    <h4>
                        <a href="{% url 'products' %}" class="buttons btn btn-lg rounded-2 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="home-welcome-div col-8 text-center">
                <h1>Welcome!</h1> 
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="home-new-products-div col-8 text-center">
                <h2>New Products</h2> 
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="home-email-subscribe-div col-8 text-center">
                <h3>Get Tips & Tricks in your Inbox</h3> 
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="home-promo-carousel col-12 text-center">
                <h3>PROMO CAROUSEL</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="home-best-sellers-div col-8 text-center">
                <h3>Best Sellers</h3> 
            </div>
        </div>
    </div>

{% endblock %}