{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 text-center mt-5 mb-3">
            <h2>My Profile</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-7 text-center">
            <div class="card table-card p-3 mb-5">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="div-12 text-center">
                            
                         <h1>Content here</h1>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
