{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 text-center mt-5 mb-3">
            <h2>Your Profile</h2>
            <p class="p-3">Welcome to your Profile page. Here you can view or edit your delivery information, and view your past orders. </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
            <div class="card table-card p-3 mb-5">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <h5 class="order-info">Your Delivery Information</h5>
                            <p class="p-1">Please find your Delivery details bolw. You can update this infromation by editing the form and clicking the Update button</p>
                            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="pt-3 pb-5">
                                    <button class="btn buttons py-2">Update</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-12">
                            <h5 class="order-info">You Order History</h5>
                            <p class="p-1">Please see your order history. Click on an Order Number to view all information about an order.</p>
                            <div class="order-history table-responsive">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th class="d-none d-sm-table-cell">Date</th>
                                            <th>Items</th>
                                            <th>Order Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'order_history' order.order_number %}"
                                                    title="{{ order.order_number }}">
                                                        {{ order.order_number|truncatechars:6 }}
                                                    </a>
                                                </td>
                                                <td class="d-none d-sm-table-cell"  >{{ order.date }}</td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        {% for item in order.lineitems.all %}
                                                            <li class="small">
                                                                {% if item.product.has_sizes %}
                                                                    Size {{ item.product.size|upper }}
                                                                {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td>${{ order.grand_total }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="text-center py-4">
            <a href="" class="btt-link btn buttons">
                <i class="fas fa-arrow-circle-up fa-lg"></i> Back To Top
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}
