body h1, h2, h3, h4, h5, h6, p, button, nav, form, .btn {
    font-family: 'Poppins', sans-serif;
}

.home-top-hero-div  {
    background: url('') no-repeat center center fixed;
    background-color: #38b000;
    background-size: cover;
    height: 300px;
    color: #f8f9fa;
    margin-top: 220px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    border-color: #38b000;
}

.home-shop-now-button {
    background-color: #e63946;
    color: #f8f9fa;
}

.header-search {
    width: 80%;
}