/* -- Global/Template CSS styling -- */

body h1, h2, h3, h4, h5, h6, p, button, nav, form, .btn {
    font-family: 'Poppins', sans-serif;
}

body {
    height: calc(100vh - 290px);
}

.container-fluid {
    background-color: #38b000;
    color: #f8f9fa;
}

.buttons {
    background-color: #e63946;
    color: #f8f9fa;
    cursor: pointer;
}

.delivery-banner {
    background-color: #e63946;
}

.nav-logo {
    max-width: 300px;
}

.header-container {
    background-color: #38b000;
    margin: 0px;
    padding: 0px;
}

.table-card
.product-card {
    color: #000;
    border-color: #e63946;
    border-width: 2px;
}

/* -- END of Global/Template CSS styling --- */

/* -- Top, Main and Mobile navigation bars  -- */

#topnav {
    background-color: #008000;
    color: #f8f9fa;
}

#topnav a {
    color: #f8f9fa;
}

#topnav p 
#topnav i {
    color: #f8f9fa;
}

#main-nav {
    background-color: #38b000;
    color: #f8f9fa;
}

#main-nav ul li a {
    color: #f8f9fa;
}

.nav-link {
    color: #f8f9fa;
}

.nav-link:hover {
    color: #ccff33 !important; 
}

.nav-link:focus {
    color: #ccff33;
}

.cart-link {
    color: #e63946;
}

.cart-link-empty {
    color: #f8f9fa;
}

.dropdown-menu {
    background-color: #008000;
    border-color: #f8f9fa;
    border-width: 1px;
    color: #f8f9fa;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #008000 !important;
    background-color: #f8f9fa !important;
}

.header-search {
    width: 75%;
    margin-left: 4%;
}

.search-icon {
    color: #f8f9fa;
    background-color: #38b000;
}

.search-icon i {
    color: #f8f9fa;
}

/* -- END of Top, Main and Mobile navigation bars  -- */

/* -- Homepage  -- */

.home-top-hero-div  {
    background: url('/media/remi-muller-LlHgaeBwYVE-unsplash-index-header.png') no-repeat center center fixed;
    background-size: cover;
    height: 400px;
    color: #f8f9fa;
    margin: auto;
}

/* -- END of Homepage  -- */

.card-footer {
    border-top: 0px;
}

.all-products-header hr {
    width: 80%;
    margin: auto;
}

.image-container {
    max-width: 380px;
    margin: auto;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-box {
    position: absolute;
    top: 65px;
    left: 15px;
    z-index: 999;
}

.custom-toast {
    overflow: scroll;
}

/* -------------------------------- Media Queries */

  
