body h1, h2, h3, h4, h5, h6, p, button, nav, form, .btn {
    font-family: 'Poppins', sans-serif;
}

.home-top-hero-div  h1 {
    background: url('') no-repeat center center fixed;
    background-color: #38b000;
    background-size: cover;
    height: calc(40vh - 164px);
    color: #38b000;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    border-color: #38b000;
}

.home-shop-now-button {
    color: #38b000;
}
