    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav w-auto mx-auto">
            <li class="nav-item dropdown">
                <a class="nav-link mr-5 dropdown-toggle" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>All Products</strong>
                </a>
                <div class="dropdown-menu border-1 w-25" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="mowers-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Mowers</strong>
                </a>
                <div class="dropdown-menu border-1 w-auto mowers-dropdown-menu" aria-labelledby="mowers-link">
                    <a href="{% url 'products' %}?category=self-propelled-mowers" class="dropdown-item">Self-propelled Mowers</a>
                    <a href="{% url 'products' %}?category=robot-mowers" class="dropdown-item">Robot Mowers</a>
                    <a href="{% url 'products' %}?category=tractor-mowers" class="dropdown-item">Tractor Mowers</a>
                    <a href="{% url 'products' %}?category=push-mowers" class="dropdown-item">Push Mowers</a>
                    <a href="{% url 'products' %}?category=self-propelled-mowers,robot-mowers,tractor-mowers,push-mowers" class="dropdown-item">All Mowers</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link dropdown-toggle mr-5" href="#" id="tools-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Tools</strong>
                </a>
                <div class="dropdown-menu border-1 w-25" aria-labelledby="tools-link">
                    <a href="{% url 'products' %}?category=rakes" class="dropdown-item">Rakes</a>
                    <a href="{% url 'products' %}?category=edging-tools" class="dropdown-item">Edging Tools</a>
                    <a href="{% url 'products' %}?category=aerators" class="dropdown-item">Aerators</a>
                    <a href="{% url 'products' %}?category=watering" class="dropdown-item">Watering</a>
                    <a href="{% url 'products' %}?category=hand-tools" class="dropdown-item">Hand Tools</a>
                    <a href="{% url 'products' %}?category=rakes,edging-tools,aerators,watering,hand-tools" class="dropdown-item">All Tools</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link dropdown-toggle mr-5" href="#" id="improvers-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Improvers</strong>
                </a>
                <div class="dropdown-menu border-1 w-25" aria-labelledby="improvers-link">
                    <a href="{% url 'products' %}?category=sprayers" class="dropdown-item">Sprayers</a>
                    <a href="{% url 'products' %}?category=lawn-feed" class="dropdown-item">Lawn Feeds</a>
                    <a href="{% url 'products' %}?category=weeding" class="dropdown-item">Weeding</a>
                    <a href="{% url 'products' %}?category=grass-seeds" class="dropdown-item">Grass Seeds</a>
                    <a href="{% url 'products' %}?category=sprayers,lawn-feed,weeding,grass-seeds" class="dropdown-item">All Improvers</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link dropdown-toggle" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Clothing</strong>
                </a>
                <div class="dropdown-menu border-1 w-25" aria-labelledby="clothing-link">
                    <a href="{% url 'products' %}?category=jackets" class="dropdown-item">Jackets</a>
                    <a href="{% url 'products' %}?category=trousers" class="dropdown-item">Trousers</a>
                    <a href="{% url 'products' %}?category=boots" class="dropdown-item">Boots &amp; Shoes</a>
                    <a href="{% url 'products' %}?category=gloves" class="dropdown-item">Gloves &amp; Hats</a>
                    <a href="{% url 'products' %}?category=jackets,trousers,boots,gloves" class="dropdown-item">All Clothing</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="{% url 'blog' %}">
                    <strong>Our Blog</strong>
                </a>
            </li>
        </ul>
    </div>
