{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-5 mb-3">
            <h1>{% trans "Change Password" %}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="card table-card p-3 mb-5">
                <div class="card-body w-100">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a class="btn buttons btn-lg my-4" href="{% url 'account_login' %}">Back to Login</a>
                        <button class="btn buttons btn-lg my-4" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}