{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-5 mb-3">
            <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="card table-card p-3 mb-5">
                <div class="card-body w-100">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="btn buttons btn-sm my-3" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <a class="btn buttons btn-sm my-3" href="{% url 'account_login' %}">Back to Login</a>
                                <input class="btn buttons btn-sm my-3" type="submit" name="action" value="{% trans 'change password' %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password has now been now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>        
        
{% endblock %}