{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 text-center">
                <div class="image-container my-5">
                    <h2 class="mb-2"><strong>{{ product.brand }}</strong></h2>
                    <h4 class="mb-0">{{ product.name }}</h4>
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-6 text-center">
                <div class="product-details-container mb-5 mt-md-5 text-center py-3">
                    <div>
                        <h5><strong>Our Price:</strong></h5>
                    </div>
                    <h3 class="mb-4"><strong>€{{ product.price }}</strong></h3>
                    {% if product.rating %}
                    <small class="pt-2"><i class="fas fa-thumbs-up mr-2"></i> Rating: {{ product.rating }} / 5</small>
                    {% else %}
                    <small class="pt-2">No Rating</small>
                    {% endif %}
                    <div>
                        <small class="pt-2"><i class="fas fa-tags mr-2"></i> Category: {{ product.category.friendly_name }}</small>
                    </div>
                    <div>
                        <h5 class="mb-0 mt-4"><strong>Description</strong></h5>
                        <p class="pt-2 mx-4">{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}